<div class="dashboard-wrapper">
	<div class="main-container">
		<div class="page-title">
			<h3 class="text-uppercase"><%= t('traffic') %></h3>
		</div>
		<div class="row">
			<div class="col-sm-4 col-md-2">
				<div class="pie-chart">
					<div class="no-background no-border thumbnail">
						<a data-no-turbolink='true' href="/traffic/trademanager">
							<%= image_tag("trade-manager.png") %>
							<div class="caption">
								<h4 class="text-capitalize text-center"><%= t('trade_manager') %></h4>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-md-2">
				<div class="pie-chart">
					<div class="no-background no-border thumbnail">
						<a data-no-turbolink='true' href="/traffic/shippingmanager">
							<%= image_tag("shipping-manager.png") %>
							<div class="caption">
								<h4 class="text-capitalize text-center"><%= t('shipping_manager') %></h4>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-md-2">
				<div class="pie-chart">
					<div class="no-background no-border thumbnail">
						<a data-no-turbolink='true' href="/traffic/transfermanager">
							<%= image_tag("transfer-manager.png") %>
							<div class="caption">
								<h4 class="text-capitalize text-center"><%= t('transfer_manager') %></h4>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-md-2">
				<div class="pie-chart">
					<div class="no-background no-border thumbnail">
						<a data-no-turbolink='true' href="/traffic/storageinspector">
							<%= image_tag("storage-inspector.png") %>
							<div class="caption">
								<h4 class="text-capitalize text-center"><%= t('storage_inspector') %></h4>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="page-title">
			<h3 class="text-uppercase">Origin</h3>
		</div>
		<div class="row">
			<div class="col-sm-4 col-md-2">
				<div class="pie-chart">
					<div class="no-background no-border thumbnail">
						<a data-no-turbolink='true' href="/origin/inventorymanager">
							<%= image_tag("inventory-manager.png") %>
							<div class="caption">
								<h4 class="text-capitalize text-center">Inventory Manager</h4>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-md-2">
				<div class="pie-chart">
					<div class="no-background no-border thumbnail">
						<a data-no-turbolink='true' href="/origin/yieldsmanager">
							<%= image_tag("aqua.png", size: "64") %>
							<div class="caption">
								<h4 class="text-capitalize text-center">AQUA</h4>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="page-title hidden">
			<h3 class="text-uppercase">IT</h3>
			<!-- <span>This is a short description about this section</span> -->
		</div>
		<div class="row hidden">
			<div class="col-sm-4 col-md-2">
				<div class="pie-chart">
					<div class="no-background no-border thumbnail">
						<a data-no-turbolink='true' href="/it/useraccess">
							<%= image_tag("user-access.png") %>
							<div class="caption">
								<h4 class="text-capitalize text-center">User Access</h4>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="page-title hidden">
			<h3 style="color: #000000;">POSITION</h3>
			<span>This is a short description about this section</span>
		</div>
		<div class="row hidden">
			<div class="col-sm-4 col-md-2">
				<div class="thumbnail">
					<a>
						<%= image_tag("link-manager.png") %>
					</a>
					<div class="caption">
						<h4>Link Manager</h4>
						<p>Short description</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-md-2">
				<div class="thumbnail">
					<a>
						<%= image_tag("link-manager-report.png") %>
					</a>
					<div class="caption">
						<h4>Link Manager</h4>
						<p>Short description</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-md-2">
				<div class="thumbnail">
					<a>
						<%= image_tag("future-adjustment.png") %>
					</a>
					<div class="caption">
						<h4>Link Manager</h4>
						<p>Short description</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
